body{
    background-image: url("assets/psybirds03.jpg");
    background-size: cover;
}

.portfoliobackground{
    background-image: url("assets/psybirds02.jpg");
    background-size: cover;
}

.contactbackground{
    background-image: url("assets/psybirds02.jpg");
    background-size: cover;
}

.black{
    background-color:hsla(47, 90%, 4%, 0.9);
}

.opacity50{
    background-color: hsla(60, 20%, 99%, 0.5);
}

h1 {
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}

h2, a, p, article{
    color: white;
    font-family: Helvetica, sans-serif, Arial;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

nav{
    margin: 5px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.padding25{
    padding:25px;
}

.navdrop{
    display: block;
}

.navline{
    display: none;
}

hr{
    border-width: 2px;
    border-color: red;
    margin-top: 10px;
}

.portcaption{
    height:40px;
    text-align: center;
    background-color: hsla(47, 90%, 4%, 0.7);
    position: relative;
    bottom: 50px;
    z-index: 1;
}

.padding5{
    padding: 0 0 0 0;
}

footer{
    clear: auto;
    text-align: right;
}

  
@media (min-width: 992px) {
    h1{
        font-size:35px;
    }

    h2{
        font-size:26px;
    }

    .navline{
        display: block;
    }

    .navdrop{
        display: none;
    }

}